<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Troque aqui a conexao do banco; padrao do lab: Lab3-7 -->
        <add name="Tecfy" connectionString="Data Source=Lab3-7; Initial Catalog=Tecfy; Integrated Security=True" />
    </connectionStrings>
</configuration>