<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Chaves da API do Spotify -->
        <add key="SpotifyClientId" value="aa96c0975dd9468aa69fb214fac61e11" />
        <add key="SpotifyClientSecret" value="2a8406f87e26464eaebea4ffd358e044" />
    </appSettings>
    <connectionStrings>
        <!-- Troque aqui a conexao do banco; padrao do lab: Lab3-7 -->
        <add name="Tecfy" connectionString="Data Source=Lab3-7; Initial Catalog=Tecfy; Integrated Security=True" />
    </connectionStrings>
</configuration>